<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1087308147524-vbbvr8uf6i3840fijr903tipaecq9mua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087308147524-vbbvr8uf6i3840fijr903tipaecq9mua</string>
	<key>API_KEY</key>
	<string>AIzaSyDygDLkNBxcG6oJQxAHH_zn6rU2Vb0C3tE</string>
	<key>GCM_SENDER_ID</key>
	<string>1087308147524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bowen.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chatchat-c2290</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-c2290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087308147524:ios:6ea68a4bccdad06f</string>
	<key>DATABASE_URL</key>
	<string>https://chatchat-c2290.firebaseio.com</string>
</dict>
</plist>